@page
@model App.Web.Areas.Identity.Pages.Account.AddCategoryModel
@{

    ViewData["Title"] = "Log in";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<div class="row">
    <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
             <div class="card-body  bg-light">
                     <div class="container">
            <form id="sendform" method="post">

                        <div class="mb-3">
                            <label asp-for="Input.CategoryName" class="form-label">نام دسته بندی </label>
                            <input asp-for="Input.CategoryName" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.CategoryDescription" class="form-label"> توضیحات دسته بندی </label>
                            <textarea asp-for="Input.CategoryDescription" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                        @foreach (var item in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-success"> </button>
                        }
             
            </form>
      </div>
      </div>
    </div>
   @*  <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
           @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-success" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            } 
        </section>
    </div>
</div> *@

<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<script src="~/js/scripts.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</html>

